
    /* The switch - the box around the slider */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.flex-container-row {
    display: flex;
    flex-direction: row;
    align-self:center;
    justify-content: center;
    padding-top: 10px;
}

.flex-container-row > div {
    align-self: auto;
    text-align: center;
    line-height: 75px;
    
}


.flex-container-coulmn > div {
        background-color: #f1f1f1;
        text-align: center;
        font-size: 10px;
    }



    
/*************************** Traditional Column *************************/
#flex-trad > h1{
    font-size: 40px;
}

.flex-trad-column {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 50px;
}
    .flex-trad-column > div {
        align-self: stretch;
        text-align: center;
        line-height: 75px;
     
    }

.flex-trad-column-body {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px;

}

#tradTitle{
    transition: 700ms;
}





/***************************** Dictionary Column ************************/

#dictTitle{
    transition: 700ms;
}

#flex-dict > h1{
    font-size: 50px;
    
}

.flex-dict-column-body {
    visibility: visible;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}


.flex-dict-column {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 50px;
}

#generate{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

#genButton{
background-color: white; 
font-family: Arial, Helvetica, sans-serif;
  border:10;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-color: black;
}

#genButton:hover{
    
    color: white;
    border-color: white;
    background: var(--td-background-color);
    
    
}




#resultLabel{
    height: fit-content;
    width: fit-content;
    border-radius: 10px;

    padding-top: 5px;
    text-align: center;
    font-size: 50px;
    background: rgba(248, 15, 15, 0.384);
    box-shadow:5px 10px #000000;
    word-break: break-all;
    
}

#resultDiv{
    display: flex;
    justify-content: center;
}


/* checkbox container options animation */


.main{
    font-size: 20px;
    transform: scale(1.5);
    line-height: 0.5;
    overflow-wrap: normal;
    padding-block: 20px;
    
    
}

.tooltiptextDict{
    visibility: hidden;
    
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    border-radius: 0.25em;
    opacity: 0.88;
    white-space: nowrap;
    line-height: 1;
    height: fit-content;
    width: fit-content;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    top: 70%;
    left: 25%;
    right: 15%;
    transition-property: visibility;
    
    transition-delay: 0s;
    
}

.main:hover  + .tooltiptextDict  {
    visibility: visible;
    transition-delay: 0.3s;
    
  }

  .tooltiptextTrad{
    visibility: hidden;
    
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    border-radius: 0.25em;
    opacity: 0.88;
    white-space: nowrap;
    line-height: 1;
    height: fit-content;
    width: fit-content;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    top: 60%;
    left: 65%;
    right: 75%;
    transition-property: visibility;
    
    transition-delay: 0s;
    
}

.main:hover  + .tooltiptextTrad  {
    visibility: visible;
    transition-delay: 0.3s;
    
  }